<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>Eshope</title>
  </head>

  <body>
    <!-- grid-container class will give page a grid layout -->
    <div class="grid-container">
      <!-- class row will keep all the childs if header in row using flex-box model-->
      <!-- Creating header -->
      <header class="row">
        <div>
          <a href="./index.html" class="brand">Eshope</a>
          <!--intentionaly defines class brand to give it different styling then other ancher tags-->
        </div>
        <div>
          <a href="./cart.html">Cart</a>
          <a href="./sigin.html">Sign In</a>
        </div>
      </header>
      <!-- creating main section-->
      <main class="row center">
        <!--main will follow flex box model because of row class and keep content center aligned-->
        <!-- Creating Product Card-->
        <div class="card">
          <a href="./product.html">
            <img
              class="medium"
              src="../products/shirts/1.jpg"
              alt="Denis Lingo shirt"
            />
          </a>
          <div class="card-body">
            <a href="./product.html"><h2>Denis Lingo</h2></a>
            <div class="rating">
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
            </div>
            <div class="price">$200</div>
          </div>
        </div>
        <div class="card">
          <a href="./product.html">
            <img
              class="medium"
              src="../products/shirts/1.jpg"
              alt="Denis Lingo shirt"
            />
          </a>
          <div class="card-body">
            <a href="./product.html"><h2>Denis Lingo</h2></a>
            <div class="rating">
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
            </div>
            <div class="price">$200</div>
          </div>
        </div>
      </main>
      <!-- Creating footer of the application -->
      <!-- row is the parent class and center is child class -->
      <footer class="row center">All rights are reserved</footer>
    </div>
  </body>
</html>
